@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-clr-primary: 102, 252, 241;
  --tw-clr-secondary: 252, 102, 113;
  --tw-clr-background: 31, 40, 51;

  --clr-primary: rgb(var(--tw-clr-primary)); /* #66fcf1 */
  --clr-secondary: rgb(var(--tw-clr-secondary)); /* #FC6671 */
  --clr-background: rgb(var(--tw-clr-background)); /* #1F2833 */
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }

  .section-title {
    @apply text-4xl font-black uppercase text-white md:text-5xl lg:text-6xl;
  }

  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }

  /* #region  /**=========== Divider =========== */

  .top-divider-footer {
    @apply absolute left-0 -top-[10%] w-full overflow-hidden;
    line-height: 0;
  }

  .top-divider-footer svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 160px;
  }

  .top-divider {
    @apply absolute left-0 w-full overflow-hidden;
    top: -50px;
    line-height: 0;
    transform: rotate(180deg);
  }
  .bottom-divider {
    @apply absolute left-0 w-full overflow-hidden;
    bottom: -50px;
    line-height: 0;
    transform: rotate(180deg);
  }
  .shape-fill {
    fill: var(--clr-background);
  }
  .shape-fill-secondary {
    fill: var(--clr-secondary);
  }
  .shape-fill-primary {
    fill: var(--clr-primary);
  }
  .shape-fill-bg {
    fill: var(--clr-background);
  }

  .top-divider svg {
    @apply relative block;
    height: 50px;
    width: calc(150% + 1.3px);
  }

  .bottom-divider svg {
    @apply relative block;
    height: 50px;
    width: calc(150% + 1.3px);
  }

  /** For mobile devices **/
  @media (max-width: 767px) {
    .top-divider svg {
      width: calc(150% + 1.3px);
      height: 35px;
    }

    .bottom-divider svg {
      width: calc(150% + 1.3px);
      height: 35px;
    }

    .top-divider {
      top: -34px;
    }
    .bottom-divider {
      bottom: -34px;
    }

    .top-divider-footer svg {
      height: 100px;
    }
  }

  /* #endregion  /**======== Dividers =========== */

  /* #region  /**======== Hero =========== */

  /* https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ */

  .hero-title {
    font-size: clamp(2rem, -0.7rem + 9.33vw, 7rem);
    line-height: 2rem;
  }

  .particles-container {
    @apply absolute -z-[1] max-w-xl;
  }

  .hero-subtitle {
    font-size: clamp(0.85rem, -0.45rem + 4.33vw, 1.5rem);
  }

  /* Header */
  .header-container {
    max-width: 78.75rem;
    @apply mx-auto w-11/12;
  }

  .nav-links {
    @apply nav-links--underline nav-links--underline-primary cursor-pointer uppercase hover:scale-105;
  }

  .nav-links--underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
  }

  .nav-links--underline-primary {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(var(--clr-primary), var(--clr-primary));
  }

  .nav-links--underline-secondary {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(var(--clr-secondary), var(--clr-secondary));
  }

  .nav-links--underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }
}

/* #endregion  /**======== Hero =========== */

/* #region  /**======== Projects =========== */

.project-preview-overview {
  @apply absolute inset-0 -top-full flex h-full w-full animate-projectout flex-col
    items-center bg-gray-700 bg-opacity-50 p-5 transition-all duration-200 ease-in-out;
}

.project-preview-card:hover .project-preview-overview {
  @apply animate-projectin;
}

.project-preview-card {
  @apply relative z-10 transform justify-self-center overflow-hidden rounded-lg shadow-xl transition duration-200 hover:z-20 
        hover:scale-105 hover:shadow-light;
}

.project-preview-card--personal {
  @apply h-full w-full;
}

.project-preview-card--highlighted {
  @apply max-h-[36rem]  w-full shadow-xl hover:shadow-light;
}

.project-preview-technologies-badge {
  @apply m-1 rounded-md bg-secondary px-2 py-1 text-white shadow-md shadow-primary;
}
.project-preview-description {
  @apply my-auto text-center text-white;
}
.project-preview-description--highlighted {
  @apply my-auto w-full max-w-3xl text-center text-white md:bottom-1/4;
}

/* #endregion  /**======== Projects =========== */

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}
